html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root{
    --background-color: #F5F5F5;
    --font-family: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --white-color-60: rgba(255,255,255,0.6);
    --white-background-button: #F5F4FA;
    --studio-logo:#000000;
    --background-hero-footer: #2F303A;
}

/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* синий цвет #2196F3 */
/* белый цвет #FFFFFF */
/* белый цвет #FFFFFF */
/* background color F5F5F5 */

.body {
    color: var(--font-family);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* Утилы */

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-bg {
    background-color: var(--white-color);
}

/* Logo */

.container {
    width: 1600px;
    height: 80px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.web-blue, .studio-black, .studio-white {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.a-decorat-none {
    text-decoration: none;
    margin-left: 215px;
}

.studio-black {
    color: var(--studio-logo);
}

/* site-nav and auth-nav*/

.site-nav {
    display: flex;
    margin-left: 94px;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.auth-nav {
    display: flex;
    margin-left: auto;
    margin-right: 215px;
}
.auth-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link,
.auth-nav .link {
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    cursor: pointer;
}

.site-nav .link {
display: block;
padding-top: 33px;
padding-bottom: 33px;
}

.auth-nav .link {
    color: var(--font-family);
    padding-top: 32px;
    padding-bottom: 32px;   
}

.site-nav .link:hover,
.site-nav .link:focus, 
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
    text-decoration-line: none;
}

/* Section замовити послугу button */
.hero {
    background-color: var(--background-hero-footer);
    text-align: center;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: 10px;
    
    
}

.hero-title {
    color: var(--white-color);
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    height: 120px;
    margin-top: 200px;
    margin-right: 452px;
    margin-bottom: 30px;
    margin-left: 452px;
}

.button-posluga {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    display: block;
    margin-top: 30px;
    margin-right: 692px;
    margin-bottom: 170px;
    margin-left: 692px;
    padding: 0;
    border: 0;
}

  .button-posluga:hover,
  .button-posluga:focus {
      background-color: #188CE8;
  }
 

   /* <!-- Section особливости --> */

.features-list {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 98px;
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 94px;
    margin-bottom: 94px;
}

.features-list .item {
    width: 270px;
}

.features .section-work {
    background-color: var(--background-color)
   }

.features .title-h2-merits {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 

.title-h3-details,
.title-h3-timeliness,
.title-h3-plan,
.title-h3-tehnology{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features .text,
.features .text-timeliness,
.features .text-plan,
.features .text-tehnology{
    color: var(--font-family);
    font-size: 14px;
    line-height: 1.7;
}

/* Section Чим ми займаємося и h2 наша команда */

.section-work {
    width: 1170px;
    height: 386px; 
    margin-top: 94px;
    margin-right: 215px;
    margin-left: 215px;
    margin-bottom: 94px;
}

.work-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-title, .title,
.title-h2-team
{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.section-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 366px;
    height: 42px;
    margin-top: 94px;
    margin-bottom: 50px;
}

/* Section Наша команда */

.section-team {
    background-color: #F5F4FA;
}

.container-team {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    width: 1600px;
    height: 648px;
    margin-top: 94px;
    outline: 2px solid red;
}

.title-h2-team {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    margin-bottom: 50px;
    width: 264px;
    height: 42px;
}

.team-list  {
    display: flex;
    justify-content:space-between;
    width: 1170px;
    height: 368px;
    margin-left: 215px;
    margin-right: 215px;
}


.member-team {
    background-color: #fff;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 270px;
    height: 368px;
    align-items: center;
    align-content: center;
}

.employer-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.duty {
     color: var(--font-family);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* Section footer */

.conteiner-address {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    width: 1600px;
    height: 252px;  
}

.a-decorat-none-footer {
    width: 145px;
    height: 31px;
    margin-top: 60px;
    margin-left: 1240px;
    margin-bottom: 161px;
    margin-left: 215px;
}

.list-address {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 231px;
    height: 81px;
    margin-top: 20px;
    margin-right: 1154px;
    margin-bottom: 60px;
    margin-left: 215px;
}


.footer-decoration {
    background-color: var(--background-hero-footer);
}

.studio-white {
    color: var(--white-color);    
}

.address .location {
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
}
.address-tel, .address-mail {
    color: var(--white-color-60);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
}


/* Page 2 */

/* Main*/

.section-sort-buttons {
    background-color: var(--background-color);
}

.port-buttons {
    color: var(--font-family);
    background-color: #F5F4FA
}

.sort {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.sort:hover,
.sort:focus {
    color: var(--white-color);
    background-color: var(--accent-color)
}

.portfolio {
    background-color: var(--white-color);
}

.title-h2-comp,
.title-h2-poster,
.title-h2-seafood,
.title-h2-prime,
.title-h2-boxes,
.title-h2-inspirations,
.title-h2-book,
.title-h2-notebook
 {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.text-comp,
.text-poster,
.text-seafood,
.text-prime,
.text-boxes,
.text-inspirations,
.text-book,
.text-bookmark,
.text-notebook {
    color: var(--font-family);
    font-size: 16px;
    line-height: 1.9;
}